/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    
}
.navbar-brand a{
   color: white;
}
.mapbut {
    margin-top: 40px;
}

.product-container {
    padding-top: 200px;
}*/

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}*/

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}

body {*/
  /* Margin bottom by footer height */
  /*margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;*/ /* Vertically center the text there */
/*}*/
/*----------Google Map Styles-------------*/
/*#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}



@media (max-width: 740px) {
    html, body, header, .view

{
    height: 1000px;
}

}

@media (min-width: 800px) and (max-width: 850px) {
    html, body, header, .view

{
    height: 650px;
}

}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse)

{
    background: #1C2331 !important;
}

}*/

#list {
    display: none;
}
