@using System
@using System.Xml
@model GlamperAuthMOD.Models.CampsiteDetail
@using System.Web

<style>
    .product-container {
        margin-top: 100px;
        margin-bottom: 100px;
    }
</style>

@{
    ViewData["Title"] = "Campsite Details";
}



<div class="container-fluid">
    <div class="container" style="width:75%">
        <div class="product-container">
            <ul>

                @{

                    <li>@Html.Raw(HttpUtility.HtmlDecode(Model.alert))</li>
                    <li>@Html.Raw(HttpUtility.HtmlDecode(Model.description))</li>
                    <li>@Html.Raw(HttpUtility.HtmlDecode(Model.drivingDirections))</li>
                }
            </ul>
        </div>
    </div>
</div>



