@model IEnumerable<Favorites>



<h2>Favorite Campsites</h2>

<div> this is favorites</div>


    <table class="table">
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>User</th>
              
            </tr>

            @foreach (var Favorite in Model)
            {
                <tr>
                    <td> @Favorite.CampsiteName</td>
                    <td>@Favorite.campID</td>
                    <td>@Favorite.user</td>
                </tr>

            }
        </table>

   




